{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>About Us</h1>
    </div>
    <div>
        <p>Free writing is a prewriting technique in which a person writes continuously for a set period of time without regard to spelling, grammar, or topic. It produces raw, often unusable material, but helps writers overcome blocks of apathy and self-criticism. It is used mainly by prose writers and writing teachers. Some writers use the technique to collect initial thoughts and ideas on a topic, often as a preliminary to formal writing. Free writing is not the same as automatic writing.

Unlike brainstorming where ideas are simply listed, in freewriting one writes sentences to form a paragraph about whatever comes to mind.</p>
    </div>

{% endblock %}
