{% extends 'layout.html' %}

{% block body %}
<h1><small> Welcome <b>{{session.username}}</b></small></h1>
<a class="btn btn-success" href="/add_log">Add Log</a>
<hr>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
        <th></th>
        <th></th>
    </tr>
    {% for log in logs %}
        <tr>
            <td>{{log.id}}</td>
            <td>{{log.title}}</td>
            <td>{{log.author}}</td>
            <td>{{log.create_date}}</td>
            <td><a href="edit_log/{{log.id}}" class="btn btn-default pull-right">Edit</a></td>
            <td>
                <form action="{{url_for('delete_log', id=log.id)}}", method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
